body {
  background-image: url(img/background/record-player.jpg);
   background-attachment: fixed;
}

nav {
  font-family: 'Dosis';
}

section {
	margin-top: 75vh;
	margin-bottom: 75vh;
}

.logoretro {
	margin-top:5px;
	margin-bottom:5px;
}

.colunas {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8vh;
  padding-bottom:8vh;
  font-family: 'Roboto';
  text-align: justify
}

.footer_direita {
	float: right;
}

footer{
	font-family: 'Roboto';
}

.icone {
	margin-right:5px;
	height: 32px;
	width: 32px;
}

.lista-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.lista-inline > li {
  display: inline-block;
}